# Datos grandes
*.csv
*.zip

# Cachés/resultados pesados
osha_deliverable_results/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
.venv/
env/
ml_env/

_build/
osha_group_time_results/
osha_temporal_results/